<div class="redis-wrapper">
  <button class="button" (click)="onSetCacheClick()">setDjangoCache</button>
  <button class="button" (click)="onGetCacheClick()">getDjangoCache</button>
  <button class="button" (click)="onNativeSetCacheClick()">调用原生redis设置缓存</button>
  <button class="button" (click)="native_set_cache_param()">调用原生redis设置缓存带有参数</button>
  <button class="button" (click)="native_hash()">调用原生redis hash</button>
  <button class="button" (click)="native_set_cache_list()">调用原生redis设置缓存list</button>
  <button class="button" (click)="native_set_cache_set()">调用原生redis设置缓存set</button>
</div>
